.container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.image {
    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    object-fit: contain;
    box-shadow: var(--light-cyan-shadow-low);
    // height: 300px;
    border-radius: 10px;
    background-color: var(--isabelline);
}

.addToCart {
    padding: 5px 20px;
    margin-top: 20px;
    min-width: 50%;
    text-align: center;
    // border-radius: 10% / 50%;
    white-space: nowrap;
    font-size: 15px;
    border-radius: 1000px;
    background-color: var(--liver-organ);
    position: relative;
    user-select: none;
    cursor: pointer;

    .addToCartText {
        color: transparent;
    }

    .price {
        position: absolute;
        left: 0;
        right: 0;
    }

    &:hover {
        background-color: var(--gamboge);

        .addToCartText {
            color: var(--bistre);
        }

        .price {
            display: none;
        }
    }

}