@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif&display=swap');
:root {
  --bistre: hsl(24deg 53% 17%);
  --liver-organ: hsl(20deg 62% 27%);
  --camel: hsl(30deg 36% 62%);
  --gamboge: hsl(38deg 66% 52%);

  --isabelline: hsl(48deg 22% 95%);
  --mint: hsl(167deg  26% 93%);
  --light-cyan:hsl(168deg 29% 86%);
  
  --champagne-pink:hsl(19deg 79% 91%);

}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--bistre);

}

input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding:0;
  line-height: calc(1em + 0.5rem);
  font-family:
      'Noto Serif',
      serif;
 
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* stylelint-disable rule */

#__next {
  height: 100%;
}
/* stylelint-enable rule */
